<app>
    <div class="container">
        <formr id="form1"></formr>
        <formr id="form2"></formr>
    </div>

    <script>
        import Formr from './formr.riot'
        export default {
            components: {
                Formr
            }
        }

    </script>
</app>
