<ibutton>
    <button { ...props.field } type="button" class="btn btn-{props.field.color?props.field.color:'outline-primary'} {props.field.class}" style="text-transform: capitalize;" name={props.field.id} onclick={this[props.field.onclick]} id={} disabled={props.field.waitValid || props.field.disabled}>
        <jicon field={props.field}></jicon> {i18n(props.field.title)}
        <jtooltip tip={props.field.tip}></jtooltip>
    </button>
    <jhelp help={props.field.help}></jhelp>

    <script>
        export default {
            click(ev) { //not used
                action = ev.target.getAttribute('action')
                param = ev.target.getAttribute('param')
                console.log(action, param, this)
                if (typeof action == "function") action(event, param)
                if (typeof this[action] == "function") this[action](event, param)
            },
            dosomething(ev, param) //test action
            {
                alert('dosomething')
            }
        }

    </script>
</ibutton>
