<idatepicker>
    <jlabel field={props.field}></jlabel>
    <jtooltip tip={props.field.tip}></jtooltip>
    <span class="inputFeedback"></span>
    <small class="inputFeedbackMsg"></small>
    ;jsj;ds;ds;dj
    <div class="input-group">
        <jaddon field={props.field} placement='left'></jaddon>
        <input { ...props.field } type="text" class="form-control {props.field.class}" name={props.field.id} value={props.field.value} id={}>
        <jaddon field={props.field} placement='right'></jaddon>
    </div>
    <jhelp help={props.field.help}></jhelp>
</idatepicker>

<script>
    export default {
        onMounted() {
            console.log('ok')
            let elt = document.getElementsByName(this.props.attr.id)[0].querySelector('[name="' + this.props.field.id + '"]')
            console.log(elt)
            elt.flatpickr({
                enableTime: this.props.field.enableTime,
                dateFormat: "F, d Y H:i"
            })

        }
    }

</script>
