<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=2">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <!-- One of the following themes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" /> <!-- 'monolith' theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css" /> <!-- 'nano' theme -->

    <!-- Modern or es5 bundle -->
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>



    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.0/trix.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.0/trix.js"></script>

    <!-- Include Choices CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <!-- Include Choices JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>


</head>

<body>
    <script>
        var data = {
            checboxTransport: {
                car: false,
                bus: true
            },
            emailInrRow: "emailInrRow changed",
            fallDescription: {
                fr: "fallDescription fr",
                en: "fallDescription en"
            },
            mayrange: 10,
            flyDescription: {
                fr: "flyDescriptionf fr",
                en: "flyDescription en"
            },
            genre: "boy",
            music: ["piano"],
            mycolor: "blue",
            mydate: "date changed",
            mypassword: "mypassword changrd",
            mytextarea: {
                fr: "mytextarea fr",
                en: "mytextarea en"
            },
            mytextedit: {
                fr: "mytextedit fr",
                en: "mytextedit en"
            },
            mytextwithbuttons: "mytextwithbuttons changed",
            passwordInRow: "passwordInRow changed",
            radioAnimal: "cat",
            switchTest: {
                bird: "fall",
                snake: false,
                elephant: true
            },
            switchTestAlone: "fall_alone"
        }








        var fields = {
            form1: {
                attr: {
                    lang: 'fr',
                    langs: ['fr', 'en'],
                    proposeTranslate: true
                },
                desc: [{
                        type: 'title',
                        title: 'Hello',
                        icon: 'fas fa-skull-crossbones',
                        help: 'Help Please verify your info before',
                    },
                    {
                        type: 'alert',
                        color: 'danger',
                        message: "Ceci est un message d'alerte",
                        icon: 'fas fa-exclamation-triangle',
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                    },
                    {
                        id: 'genre',
                        type: 'select',
                        label: 'Genre',
                        value: 'girl',
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                        options: [{
                                label: 'Garcon',
                                value: 'boy'
                            },
                            {
                                label: 'Fille',
                                value: 'girl'
                            }
                        ]
                    },
                    {
                        id: 'music',
                        type: 'select',
                        multiple: true,
                        label: 'Musique',
                        required: true,
                        value: ['guitar'],
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                        options: [{
                                label: 'Piano',
                                value: 'piano'
                            },
                            {
                                label: 'Guitare',
                                value: 'guitar',
                                aaaselected: true
                            }
                        ]
                    },
                    {
                        id: 'mycolor',
                        label: 'Couleur principale',
                        type: 'colorpicker',
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                        value: 'red'
                    },
                    {
                        id: 'mytextedit',
                        label: 'Texte principal',
                        type: 'texteditor',
                        multilang: true,
                        proposeTranslate: true,
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                        value: 'Mon premier text'
                    },
                    {
                        id: 'mytextarea',
                        type: 'textarea',
                        rows: 8,
                        value: 'Eheh l\'ami quoi de neuf c\'est long tout ce tete sinon <h2>ca va? la fa</h2>mille? les amis? la santé? bonsoir enfin au revoir anticonstitutionnelement ;) bisous',
                        label: 'Lettre pour chirac',
                        multilang: true,
                        required: true,
                        icon: 'fas fa-running',
                        tip: 'Il faut bien écrire vous avez affaire avec un président',
                        help: 'Help Please verify your info before'
                    },
                    {
                        id: 'mayrange',
                        icon: 'fas fa-running',
                        type: 'range',
                        label: 'Zoom',
                        tip: 'select the right zoom',
                        help: 'select the right zoom',
                        onchange: 'alert("zoom")',
                        oninput: 'alert("zoom")',
                    },

                    {
                        id: 'mytextwithbuttons',
                        type: 'text',
                        required: true,
                        size: 10,
                        value: 'First item',
                        label: 'Id de l\'ambulance',
                        icon: 'fas fa-ambulance',
                        minlength: 4,
                        buttons: [{
                            icon: 'fas fa-running',
                            onclick: 'dosomething'
                        }, {
                            title: 'do it',
                            onclick: 'dosomething'
                        }],
                        tip: 'Il faut bien écrire vous avez affaire avec un président',
                        help: 'Help Please verify your info before',
                    },
                    {
                        id: 'row0',
                        type: 'row',
                        desc: [{
                                id: 'emailInrRow',
                                type: 'email',
                                size: 10,
                                value: 'First item',
                                label: 'Id de l\'ambulance',
                                buttons: [{
                                    icon: 'fas fa-running',
                                    onclick: 'dosomething'
                                }, {
                                    title: 'test',
                                    onclick: 'dosomething'
                                }]
                            },
                            {
                                id: 'passwordInRow',
                                type: 'password',
                                //pattern:'(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}',
                                //required:true,
                                value: 'Second item',
                                label: 'Mot de passe'
                            },
                        ]
                    },
                    {
                        id: 'mypassword',
                        type: 'password',
                        pattern: '(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}',
                        patternInfo: '8 characters, 1 upper, 1 number',
                        //required:true,
                        value: 'Second item',
                        label: 'Mot de passe secure',
                        buttons: [{
                            icon: 'fas fa-running',
                            onclick: 'dosomething'
                        }, {
                            title: 'Do it',
                            onclick: 'dosomething'
                        }],
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                    },
                    {
                        id: 'mydate',
                        type: 'datetime',
                        size: 10,
                        value: 'Third item',
                        label: 'date',
                        buttons: [{
                            icon: 'fas fa-running',
                            onclick: 'dosomething'
                        }, {
                            title: 'Do it',
                            onclick: 'dosomething'
                        }],
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                    },
                    {
                        id: 'radioAnimal',
                        type: 'radio',
                        label: 'Choix animal',
                        value: 'dog',
                        options: [{
                                label: 'chien',
                                id: 'dog',
                                tip: 'Il faut bien écrire vous avez affaire avec un président'
                            },
                            {
                                label: 'chat',
                                achecked: true,
                                id: 'cat',
                                help: 'Help Please verify your info before'
                            }
                        ]
                    },
                    {
                        id: 'checboxTransport',
                        type: 'checkbox',
                        label: 'Choix transport',
                        options: [{
                                label: 'Voiture',
                                id: 'car',
                                help: 'Il faut bien écrire vous avez affaire avec un président'
                            },
                            {
                                label: 'Bus',
                                id: 'bus',
                                tip: 'ça pique',
                                value: true
                            }
                        ]
                    },
                    {
                        id: 'switchTest',
                        type: 'switch',
                        label: 'Choix animal',
                        options: [{
                                checkedLabel: 'vole',
                                uncheckedLabel: 'tombe',
                                checkedValue: 'fly',
                                uncheckedValue: 'fall',
                                value: 'fly',
                                label: 'Oiseau',
                                id: 'bird',
                                help: 'Il faut bien écrire vous avez affaire avec un président',
                                ctrl: {
                                    checked: ["flyDescription"],
                                    unchecked: ["fallDescription"]
                                }
                            },
                            {
                                label: 'Serpent',
                                id: 'snake',
                                tip: 'ça pique',
                                checked: true,
                            },
                            {
                                label: 'Elephant',
                                id: 'elephant',
                                tip: 'ça pique',
                                value: 'yes'
                            }

                        ]
                    },
                    {
                        id: 'switchTestAlone',
                        type: 'switch',
                        label: 'Choix animal alone',
                        options: [{
                            checkedLabel: 'vole alone',
                            uncheckedLabel: 'tombe alone',
                            checkedValue: 'fly_alone',
                            uncheckedValue: 'fall_alone',
                            value: 'fly_alone',
                            label: 'Oiseau alone',
                            help: 'Il faut bien écrire vous avez affaire avec un président',
                            ctrl: {
                                checked: ["flyDescription"],
                                unchecked: ["fallDescription"]
                            }
                        }]
                    },
                    {
                        type: 'textarea',
                        id: "flyDescription",
                        rows: 10,
                        value: 'Un très beau vol que nous avons la, tout à fait aérodynamique cette chouette!',
                        label: 'Description du vol',
                        multilang: true,
                        required: true,
                        icon: 'fas fa-kiwi-bird',
                        tip: 'Précisez l\'oiseau svp',
                        help: 'Help Please verify your info before',
                    },
                    {
                        type: 'textarea',
                        id: "fallDescription",
                        rows: 10,
                        value: 'Quelle chute c\'est fantastique l\'oiseau a littéralement EXPLOSé wow!',
                        label: 'Description de la chute',
                        multilang: true,
                        required: true,
                        icon: 'fas fa-bomb',
                        tip: 'Précisez l\'oiseau svp',
                        help: 'Help Please verify your info before',

                    },
                    {
                        type: 'hr',
                        icon: 'fas fa-plane',
                        label: 'Take your plane',
                        help: 'Please verify your info before'
                    },
                    {
                        icon: 'fas fa-running',
                        type: 'button',
                        color: 'danger',
                        class: 'btn-block btn-lg',
                        title: 'GO !',
                        onclick: 'dosomething',
                        waitValid: true,
                        tip: 'Tip Please verify your info before',
                        help: 'Help Please verify your info before',
                    },
                    {
                        id: 'i4',
                        type: 'button',
                        size: 23,
                        title: 'Fourth item',
                        icon: 'fas fa-restroom',
                        onclick: 'dosomething'
                    },
                ]
            },
            form2: {
                attr: {
                    lang: 'fr',
                    langs: ['fr', 'en'],
                    proposeTranslate: true
                },
                desc: [{
                        id: 'switchTestAlone',
                        type: 'switch',
                        label: 'Choix animal alone',
                        options: [{
                            checkedLabel: 'vole alone',
                            uncheckedLabel: 'tombe alone',
                            checkedValue: 'fly_alone',
                            uncheckedValue: 'fall_alone',
                            value: 'fly_alone',
                            label: 'Oiseau alone',
                            help: 'Il faut bien écrire vous avez affaire avec un président',
                            ctrl: {
                                checked: ["flyDescription"],
                                unchecked: ["fallDescription"]
                            }
                        }]
                    },
                    {
                        type: 'textarea',
                        id: "flyDescription",
                        rows: 10,
                        value: 'Un très beau vol que nous avons la, tout à fait aérodynamique cette chouette!',
                        label: 'Description du vol',
                        multilang: true,
                        required: true,
                        icon: 'fas fa-kiwi-bird',
                        tip: 'Précisez l\'oiseau svp',
                        help: 'Help Please verify your info before',
                    },
                    {
                        type: 'textarea',
                        id: "fallDescription",
                        rows: 10,
                        value: 'Quelle chute c\'est fantastique l\'oiseau a littéralement EXPLOSé wow!',
                        label: 'Description de la chute',
                        multilang: true,
                        required: true,
                        icon: 'fas fa-bomb',
                        tip: 'Précisez l\'oiseau svp',
                        help: 'Help Please verify your info before',
                    }
                ]
            }
        }
    </script>

    <div class="container">
        <formr id="form1"></formr>
        <formr id="form2"></formr>
    </div>

    <compileme></compileme>

    <script src="https://kit.fontawesome.com/14194217cb.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/riot@4/riot+compiler.min.js"></script>
    <!--script type="text/javascript" src="tag.js"></script-->
    <script type="riot" src="formr.html"></script>
    <script type="riot" src="ihr.html"></script>
    <script type="riot" src="ialert.html"></script>
    <script type="riot" src="itext.html"></script>
    <script type="riot" src="ihidden.html"></script>
    <script type="riot" src="ipassword.html"></script>
    <script type="riot" src="ibutton.html"></script>
    <script type="riot" src="jlabel.html"></script>
    <script type="riot" src="jicon.html"></script>
    <script type="riot" src="icheckbox.html"></script>
    <script type="riot" src="iradio.html"></script>
    <script type="riot" src="irange.html"></script>
    <script type="riot" src="jaddon.html"></script>
    <script type="riot" src="iselect.html"></script>
    <script type="riot" src="irow.html"></script>
    <script type="riot" src="ititle.html"></script>
    <script type="riot" src="icolorpicker.html"></script>
    <script type="riot" src="itexteditor.html"></script>
    <script type="riot" src="jtooltip.html"></script>
    <script type="riot" src="jhelp.html"></script>
    <script type="riot" src="compileme.html"></script>
    <script type="text/javascript">
        riot.install(function(component) {
            component.i18n = function(id) {
                return id
            }
            component.langName = function(id) {
                const langs = {
                    fr: 'français',
                    en: 'English'
                }
                return langs[id] || id
            }
            component.selectIcon = function(field) {
                var ret, id = '',
                    subType = '',
                    type = ''
                if (field.icon && field.icon != 'none') return field.icon
                if (field.id) id = field.id.toLowerCase()
                if (field.type) type = field.type
                if (field.onclick && !type) type = 'button'
                let autoIcons = {
                    tags: 'fas fa-tags',
                    logon: 'fas fa-user',
                    address: 'fas fa-map-marker-alt',
                    name: 'fas fa-user',
                    url: 'fas fa-user',
                    lang: 'fas fa-language',
                    google: 'fab fa-google',
                    twitter: 'twitter',
                    facebook: 'fab fa-facebook',
                    datetimepicker: 'fas fa-calendar-alt',
                    date: 'fas fa-calendar-alt',
                    month: 'fas fa-calendar-alt',
                    datetime: 'fas fa-calendar-alt',
                    tel: 'fas fa-phone',
                    mail: 'fas fa-envelope',
                    email: 'fas fa-envelope',
                    password: 'fas fa-key',
                    number: 'fas fa-list-ol',
                    button: 'fas fa-mouse-pointer'
                }
                for (var possibleId in autoIcons) {
                    if (id.indexOf(possibleId) != -1 ||
                        type.indexOf(possibleId) != -1
                    ) return autoIcons[possibleId]
                }
                if (!ret) ret = 'fas fa-greater-than';
                return ret
            }
            component.callType = function(type) {
                let types = {
                    text: ['text', 'textarea', 'date', 'color', 'datetime', 'datetime-local', 'email', 'month', 'number', 'tel', 'time', 'url', 'week'],
                    checkbox: ['checkbox', 'switch']
                }
                if (types.text.indexOf(type) > -1) return 'text'
                if (types.checkbox.indexOf(type) > -1) return 'checkbox'
                return type
            }
            component.translate = function(ev) {
                elt = ev.target.closest(".input-group").querySelector(".form-control")
                defaultLang = elt.getAttribute('defaultLang')
                lang = elt.getAttribute('lang')
                eltFromId = elt.getAttribute('baseId') + '.' + defaultLang
                console.log(eltFromId, defaultLang, lang)
                eltFromValue = ev.target.closest(".form-group").querySelector('[name="' + eltFromId + '"]').value
                //console.log(ev.target.closest(".form-group").querySelector('[name="'+eltFromId+'"]').getAttribute('name'))
                elt.value = 'Transalion : ' + defaultLang + ' to ' + lang + ':' + eltFromValue
            }
        })

        riot.compile().then(() => {
            riot.mount('formr', {})
            //riot.mount('compileme', {})
        })


        function getFormValues(formId) {
            var data = {}
            inputs = document.getElementsByName(formId)[0].querySelectorAll('.form-control')
            inputs.forEach(function(input) {
                type = input.type
                switch (type) {
                    case 'checkbox':
                        if (input.checked) field(data, input.name, input.getAttribute('checkedValue') || true)
                        else field(data, input.name, input.getAttribute('uncheckedValue') || false)
                        break
                    case 'select-multiple': //this is a special type property of dom  : https://www.w3schools.com/jsref/prop_select_type.asp
                        field(data, input.name, [...input.options].filter((x) => x.selected).map((x) => x.value))
                        break
                    case 'radio':
                        if (input.checked) field(data, input.name, input.value)
                        if (!field(data, input.name)) field(data, input.name, null)
                        break
                    default: //text, select-one, password, hidden, email, tel, textarea...... all others
                        field(data, input.name, input.value)
                }
            })
            return data
        }

        function setFormValues(formId, data) {
            inputs = document.getElementsByName(formId)[0].querySelectorAll('.form-control')
            inputs.forEach(function(input) {
                type = input.type
                val = field(data, input.name)
                switch (type) {
                    case 'checkbox':
                        input.checked = (input.checkedValue == val && input.uncheckedValue != val) || val
                        break
                    case 'select-multiple':
                        Array.prototype.forEach.call(input.options, function(opt) {
                            opt.selected = (val.indexOf(opt.value) > -1)
                        })
                        break
                    default: //radio, select-one' text, password, hidden, email, tel, textarea...... all others
                        input.value = val

                        //console.log(input.closest(".form-group").querySelector(".pcr-button").setColor(val,true))
                        var setColorEvent = new CustomEvent(formId + '_setColor_' + input.name, {
                            detail: {
                                color: val
                            }
                        })
                        document.dispatchEvent(setColorEvent)
                        //+color, editor, image
                }
            })
            return data
        }

        function field(obj, fieldPath, value) {
            // split the field into tokens
            if (obj === undefined || fieldPath === undefined || obj === null) return
            var tokens = fieldPath.split('.');
            // if there's more than one token, this field is an object
            if (tokens.length > 1) {
                var subObj = tokens[0];
                // define the object
                if (!obj[subObj]) obj[subObj] = {};
                // call field again on the embedded object
                var firstDot = fieldPath.indexOf('.');
                return field(obj[subObj], fieldPath.substr(firstDot + 1), value);
            } else {
                var arr = fieldPath.split('[');
                if (arr.length > 1) {
                    if (!obj[arr[0]]) obj[arr[0]] = [];
                    if (value !== undefined) obj[arr[0]].push(value)
                    else return obj[arr[0]][arr[1].slice(0, -1)] //remove last char or arr[1] that must be a ']'
                } else {
                    if (value !== undefined) obj[fieldPath] = value; // no embedded objects, just fieldPath assignment
                    else return obj[fieldPath]
                }
            }
        }
    </script>
</body></html>
