<iselect>
    <jlabel field={props.field}></jlabel>
    <jtooltip tip={props.field.tip}></jtooltip>
    <span class="inputFeedback"></span>
    <small class="inputFeedbackMsg"></small>
    <div name={"colorpicker_" + props.field.id}></div>
    <div name={props.attr.id +"_select_" + props.field.id}></div>
    <div class="input-group mb-3">
        <jaddon field={props.field} placement='left'></jaddon>
        <select { ...props.field } multiple={props.field.multiple} class="form-control {props.field.class}" name={props.field.id} id={}>
            <template each={option in props.field.options}>
                <option value={option.value} selected={isSelected(option)}>
                    {i18n(option.label)}
                </option>
            </template>
        </select>
        <jaddon field={props.field} placement='right'></jaddon>
    </div>
    <jhelp help={props.field.help}></jhelp>
    <script>
        export default {
            onMounted() {
                let formId = this.props.attr.id
                if (this.props.field.multiple) {
                    const choices = new Choices('[name="' + this.props.field.id + '"]', {
                        silent: true,
                        aaitems: [],
                        aachoices: [],
                        renderChoiceLimit: -1,
                        maxItemCount: -1,
                        addItems: true,
                        addItemFilterFn: null,
                        removeItems: true,
                        removeItemButton: true,
                        editItems: false,
                        duplicateItemsAllowed: false,
                        aaadelimiter: ',',
                        paste: true,
                        aaaasearchEnabled: true,
                        aaaaasearchChoices: true,
                        searchFloor: 1,
                        searchResultLimit: 4,
                        searchFields: ['label', 'value'],
                        position: 'auto',
                        resetScrollPosition: true,
                        shouldSort: false,
                        shouldSortItems: false,
                        sortFn: () => {},
                        placeholder: true,
                        placeholderValue: this.props.field.placeholder,
                        searchPlaceholderValue: null,
                        prependValue: null,
                        appendValue: null,
                        renderSelectedChoices: 'auto',
                        loadingText: 'Loading...',
                        noResultsText: 'No results found',
                        noChoicesText: 'No choices to choose from',
                        itemSelectText: 'Press to select',
                        addItemText: (value) => {
                            return `Press Enter to add <b>"${value}"</b>`;
                        },
                        maxItemText: (maxItemCount) => {
                            return `Only ${maxItemCount} values can be added`;
                        },
                        itemComparer: (choice, item) => {
                            return choice === item;
                        },
                        classNames: {
                            containerOuter: 'choices',
                            containerInner: 'choices__inner',
                            input: 'choices__input',
                            inputCloned: 'choices__input--cloned',
                            list: 'choices__list',
                            listItems: 'choices__list--multiple',
                            listSingle: 'choices__list--single',
                            listDropdown: 'choices__list--dropdown',
                            item: 'choices__item',
                            itemSelectable: 'choices__item--selectable',
                            itemDisabled: 'choices__item--disabled',
                            itemChoice: 'choices__item--choice',
                            placeholder: 'choices__placeholder',
                            group: 'choices__group',
                            groupHeading: 'choices__heading',
                            button: 'choices__button',
                            activeState: 'is-active',
                            focusState: 'is-focused',
                            openState: 'is-open',
                            disabledState: 'is-disabled',
                            highlightedState: 'is-highlighted',
                            hiddenState: 'is-hidden',
                            flippedState: 'is-flipped',
                            loadingState: 'is-loading',
                            noResults: 'has-no-results',
                            noChoices: 'has-no-choices'
                        },
                        // Choices uses the great Fuse library for searching. You
                        // can find more options here: https://github.com/krisk/Fuse#options
                        fuseOptions: {
                            include: 'score'
                        },
                        callbackOnInit: null,
                        callbackOnCreateTemplates: null
                    })
                }
            },
            isSelected(option) {
                //console.log(option)
                return (option.selected || option.value == this.props.field.value || (Array.isArray(this.props.field.value) && this.props.field.value.indexOf(option.value) > -1))
            }
        }

    </script>
</iselect>
