<iselect>
    <jlabel field={props.field}></jlabel>
    <jtooltip tip={props.field.tip}></jtooltip>
    <span class="inputFeedback"></span>
    <small class="inputFeedbackMsg"></small>
    <div class="input-group">
        <jaddon if={!props.field.tag} field={props.field} placement='left'></jaddon>
        <select { ...props.field } multiple={props.field.multiple} class="form-control {props.field.class}" selectr=true name={props.field.id} id={}>
            <template each={option in props.field.opts}>
                <option value={option.value} selected={isSelected(option)}>
                    {i18n(option.label)}
                </option>
            </template>
        </select>
        <jaddon if={!props.field.tag} field={props.field} placement='right'></jaddon>
    </div>
    <jhelp help={props.field.help}></jhelp>
    <script>
        export default {
            onMounted() {
                if (this.props.field.multiple && this.props.field.tag) {
                    // https://github.com/Mobius1/Selectr
                    let elt = document.getElementsByName(this.props.attr.id)[0].querySelector('[name="' + this.props.field.id + '"]')
                    const selectr = new Selectr(elt, {
                        taggable: this.props.field.userAddOption
                    })
                    document.addEventListener(this.props.attr.id + '_setSelectr_' + this.props.field.id, function(ev) {
                        //console.log(selectr.getValue(false)) 
                        selectr.clear()
                        selectr.setValue(ev.detail.values)                      
                    })
                }
            },
            isSelected(option) {
                //console.log(option)
                return (option.selected || option.value == this.props.field.value || (Array.isArray(this.props.field.value) && this.props.field.value.indexOf(option.value) > -1))
            }
        }

    </script>
    <style>
        .choices__list--multiple .choices__item {
            border-radius: 20px;
            background-color: grey;
            border: 1px solid grey;
            color: #fff;
        }

        .choices__button {
            border-left: 0px !important;
        }

        .choices {
            width: 100%;
        }

    </style>
</iselect>