<itexteditor>
    <jlabel field={props.field}></jlabel>
    <jtooltip tip={props.field.tip}></jtooltip>
    <template if={props.field.multilang} each={lang in props.attr.langs}>
        <button type="button" class="btn {btnLangColor(lang)} btn-sm ml-1" style="text-transform: capitalize;" idLang={lang} onclick={selectLang}>{langName(lang)} <span class="aaainputFeedback"></span></button>
    </template>
    <span class="inputFeedback"></span>
    <small class="inputFeedbackMsg"></small>

    <div each={lang in state.langs} class="ianput-group {lang==state.currentLang || !lang?'':'hide'}">
        <span if={props.field.multilang && props.attr.proposeTranslate && state.defaultLang !=lang } class="h-100 input-group-append">
            <button type="button" class="btn btn-info" onclick={translate}><i class="fas fa-language"></i></button>
        </span>
        <div name={buildId(lang,'_')}></div>
        <input type="hidden" defaultLang={state.defaultLang} lang={lang} baseId={props.field.id} name={buildId(lang)} value={props.field.value} class="form-control">
    </div>
    <jhelp help={props.field.help}></jhelp>

    <script>
        export default {
            onBeforeMount() {
                this.state.currentLang = this.props.attr.langs[0]
                this.state.defaultLang = this.props.attr.langs[0]
                if (this.props.field.multilang) {
                    this.state.langs = this.props.attr.langs
                } else {
                    this.state.langs = ['']
                }
            },
            onMounted() {
                //https://quilljs.com/
                //see https://codepen.io/viT-1/pen/GQVaoB for html fill
                const self = this
                let formId = this.props.attr.id
                this.state.langs.forEach(function(lang) {
                    let container = document.getElementsByName(formId)[0].querySelector('[name="' + self.buildId(lang, '_') + '"]')
                    let input = document.getElementsByName(formId)[0].querySelector('[name="' + self.buildId(lang) + '"]')
                    var editor = new Quill(container, {
                        modules: {
                            toolbar: [
                                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                                //[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                                //[{ 'header': 1 }, { 'header': 2 }],               // custom button values
                                ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
                                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                                [{ 'align': [] }],                                
                                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                                ['video', 'image'],
                                ['blockquote', 'code-block'],
                                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                                [{ 'direction': 'rtl' }],                       // text direction
                                [{ 'font': [] }],
                                ['clean'],
                                ['translate']
                            ]
                        },
                        theme: 'snow'
                    })
                    editor.on('text-change', function() {
                        var delta = editor.getContents()
                        var text = editor.getText()
                        var html = editor.root.innerHTML
                        input.value=editor.root.innerHTML
                    })
                })
            },
            btnLangColor(lang) {
                return lang == this.state.currentLang ? 'btn-secondary' : 'btn-light'
            },
            buildId(lang, separator) {
                return this.props.field.multilang ? this.props.field.id + (separator || '.') + lang : this.props.field.id
            },
            defaultValue() {
                if (this.state.currentLang == this.props.attr.langs[0]) return this.props.field.value
                else return null
            },
            selectLang(ev) {
                this.state.currentLang = ev.target.attributes.idLang.value
                this.update()
            }
        }

    </script>
</itexteditor>
