<ititle>
    <div class="ftitle {props.field.class}">
        <jicon field={props.field}></jicon>
        {i18n(props.field.title)}
        <small><jtooltip tip={props.field.tip}></jtooltip></small>
    </div>
    <jhelp help={props.field.help}></jhelp>
    <style>
        .ftitle{
            font-size:3rem;
        }
    </style>
        <script>
        import jaddon from './jaddon.riot'
        import jhelp from './jhelp.riot'
        import jicon from './jicon.riot'
        import jlabel from './jlabel.riot'
        import jtooltip from './jtooltip.riot'
        export default {
            components: {
                jaddon,
                jhelp,
                jicon,
                jlabel,
                jtooltip
            }
        }
    </script>
</ititle>