<jaddon>
    <div if={props.placement=='left' && props.field.icon!='none' } class="h-100 input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
            <jicon field={props.field}></jicon>
        </span>
    </div>
    <div if={props.placement=='right' && props.field.buttons} class="h-100 input-group-append">
        <ibutton each={button in props.field.buttons} field={button}></ibutton>
    </div>
</jaddon>
